body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f7f7; 
}

.container {
    background-color: #bec4b7;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #049983;
    border-radius: 30px; 
    overflow: hidden;
    box-shadow: 0 0 40px rgba(14, 122, 95, 0.548);
    position: relative;
}


h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: #caa008;
  color: #870a0a;
  padding: 20px;
  margin-top: -10px;
  margin-bottom: 10px;
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  z-index: 1;
}

.container1 {
  overflow: hidden;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  z-index: 2; 
}

.container2 {
  position: relative; 
  z-index: 2; 
}

.container1 .left-image,
.container1 .right-image {
  display: inline-block; 
  margin:80px 30px 0; 
  position: relative;
  z-index: 1; 
}

.container1 .left-image img,
.container1 .right-image img {
  width: 300px;
  border-radius: 30px;
}

.container1 .right-content {
  margin-top: 0;
}

.container1 p {
  text-align: justify;
}

.container2 p {
  text-align: justify;
  margin-top: 0px;
}

.container3 .bottom-images {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.container3 .bottom-images img {
  width: 300px; 
  height: auto; 
  margin: 0px; 
  border-radius: 30px; 
}

.btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgb(10, 103, 75); 
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
